.vscode/
__pycache__/
.ipynb_checkpoints/
mylogs/
logs/
datasets/
*.txt
!building_event_binary.txt
!requirements.txt
*.csv
data_stocks.csv
!data.csv
!train.csv
!test.csv
!salary.csv
!unicorn_china.csv
!Advertising.csv
!train_modified.csv
!building_event_binary.csv
!gender_submission.csv
!gender.csv
random_forest_train_model.pkl
datasets.zip